/test/bias/v0/R22/S11/imsim_0_R22_S11_C14.fits filter=lfs diff=lfs merge=lfs -text
/test/eimage/v99999999-fr/E000/R22/eimage_99999999_R22_S11_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C00_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C02_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C03_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C04_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C05_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C06_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C07_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C10_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C11_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C12_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C13_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C14_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C15_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C16_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C17_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/registry.sqlite3 filter=lfs diff=lfs merge=lfs -text
/data/registry.sqlite3 filter=lfs diff=lfs merge=lfs -text
/test/phosimOutput/real/output/temp_a_99999999_f2_R22_S11_C00_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/phosim_out/biasFrame/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/phosim_out/darkCurrent/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/phosim_out/flatDome/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/phosim_out/real/output/temp_a_99999999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/test/daqData/comcam_a_99999999_f0_R10_S00_C00 filter=lfs diff=lfs merge=lfs -text
/tests/testData/bias/v0/R22/S11/imsim_0_R22_S11_C14.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/daqData/comcam_a_99999999_f0_R10_S00_C00 filter=lfs diff=lfs merge=lfs -text
/tests/testData/eimage/v99999999-fr/E000/R22/eimage_99999999_R22_S11_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/real/output/temp_a_99999999_f2_R22_S11_C00_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosim_out/biasFrame/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosim_out/darkCurrent/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosim_out/flatDome/output/temp_a_9999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosim_out/real/output/temp_a_99999999_f2_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C00_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C01_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C02_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C03_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C04_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C05_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C06_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C07_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C10_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C11_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C12_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C13_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C14_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C15_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C16_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/raw/v99999999-fr/E000/R22/S11/imsim_99999999_R22_S11_C17_E000.fits.gz filter=lfs diff=lfs merge=lfs -text
/tests/testData/registry.sqlite3 filter=lfs diff=lfs merge=lfs -text
/tests/testData/repackagedPhoSimData/raw/20/R00/00000020-R00-S22-det197-000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/repackagedFiles/lsst_a_20_f5_R00_S22_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/extra/lsst_a_9005000_f1_R22_S10_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/extra/lsst_a_9005000_f1_R22_S11_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/intra/lsst_a_9005001_f1_R22_S10_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/intra/lsst_a_9005001_f1_R22_S11_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/repackagedFiles/lsst_a_9005000_f1_R22_S10_E000.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeEval.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeGradDx.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeGradDx2.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeGradDxy.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeGradDy.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeGradDy2.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeJaco1st.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/cwfsZernike/annularZernikeJaco2nd.txt filter=lfs diff=lfs merge=lfs -text
/tests/testData/repackagedPhoSimData/raw/20/R00/00000020-R00-S22-det197.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTel/1579925613-16Pup_intra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTel/1579925662-16Pup_extra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTel/1579925833-16Pup_intra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTel/1579925882-16Pup_extra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/donutTemplates/R22/postISRCCD_09006001-g-R22-S11-det094.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/donutTemplates/R99/postISRCCD_09006001-g-R99-S11-det094.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/extra/MC_H_20211231_006001_R22_S10.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/extra/MC_H_20211231_006001_R22_S11.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/intra/MC_H_20211231_006002_R22_S10.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realComCam/repackagedFiles/intra/MC_H_20211231_006002_R22_S11.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/gen3TestRepo/LSSTCam/calib/unbounded/camera/camera_LSSTCam_LSSTCam_calib_unbounded.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/gen3TestRepo/gen3.sqlite3 filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R00_SW0.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R00_SW1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R04_SW0.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R04_SW1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R40_SW0.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R40_SW1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R44_SW0.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/phosimOutput/realWfs/output/MC_H_20211231_006000_R44_SW1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTelZWO/1579925613-16Pup_intra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTelZWO/1579925662-16Pup_extra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTelZWO/1579925833-16Pup_intra-0-1.fits filter=lfs diff=lfs merge=lfs -text
/tests/testData/testImages/auxTelZWO/1579925882-16Pup_extra-0-1.fits filter=lfs diff=lfs merge=lfs -text
